
@using StationCAD.Web.Models
@model EditViewModel



<div class="row">
    <div class="col-md-8">

        <h4>Account Settings</h4>
        <hr />
        @using (Html.BeginForm("update", "manage", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <article>
                <div class="section-header">
                    <label>Profile</label>
                </div>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "edit-textbox" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "edit-textbox" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.AccountEmail, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.AccountEmail).HtmlAttributes(new { @class = "edit-textbox", @group = "email" })
                        <div id="status"></div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.IdentificationNumber, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.IdentificationNumber).HtmlAttributes(new { @class = "edit-textbox" })
                    </div>
                </div>
            </article>
            <hr />
            <article>
                <div class="section-header">
                    <label>Notification</label>
                </div>
                <hr />
                <div class="form-group">
                    <div class="row">
                        @Html.LabelFor(m => m.NotificationEmail, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.NotificationEmail).HtmlAttributes(new { @class = "edit-textbox", @group = "email" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.NotificationCellPhone, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().MaskedTextBoxFor(m => m.NotificationCellPhone).Mask("(000) 000-0000").HtmlAttributes(new { @class = "edit -textbox" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.NotifcationPushMobile, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.NotifcationPushMobile).HtmlAttributes(new { @class = "edit-textbox" })
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.NotifcationPushBrowser, new { @class = "col-md-3 control-label" })
                        @Html.Kendo().TextBoxFor(m => m.NotifcationPushBrowser).HtmlAttributes(new { @class = "edit-textbox" })
                    </div>
                </div>
            </article>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Changes" class="btn btn-default" />
                </div>
            </div>
            <label class="text-danger">@ViewBag.errorMessage</label>
        }

    </div>
</div>

<script>

    // document ready
    $(document).ready(function () {

        // attach jquery plugin to validate address
        $("input[group='email']").mailgun_validator({
            api_key: 'pubkey-98eda3cdea4b3bf74327832f679f6690',
            in_progress: validation_in_progress,
            success: validation_success,
            error: validation_error,
        });

    });
</script>