@model StationCAD.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account Settings</h4>
    <hr />
    <div id="profile" class="account-section">
        <div class="section-header">
            <label>Profile</label>
            @Html.ActionLink("Edit", "Edit", "Manage", new { @class = "edit-action" })
        </div>
        <dl class="dl-horizontal" title="Profile">
            <dt>First Name:</dt>
            <dd>@Model.UserInfo.Profile.FirstName</dd>
            <dt>Last Name:</dt>
            <dd>@Model.UserInfo.Profile.LastName</dd>
            <dt>Account Email:</dt>
            <dd>@Model.UserInfo.Profile.AccountEmail</dd>
            <dt>ID:</dt>
            <dd>@Model.UserInfo.Profile.IdentificationNumber</dd>
        </dl>
    </div>
    <div id="addresses" class="account-section">
        <div class="section-header">
            <label>Addresses</label>
        </div>
        @{
            if (Model.UserInfo.Profile.Addresses != null && Model.UserInfo.Profile.Addresses.Count > 0)
            {
                foreach (var addr in Model.UserInfo.Profile.Addresses)
                {
                    <dl class="dl-horizontal" title="Address">
                        <dt>Address:</dt>
                        <dd>@addr.DisplayFormat</dd>
                        <dt>Primary Mailing Address?</dt>
                        <dd>@addr.PrimaryMailing == true ? "Yes" : "No"</dd>
                        <dt>Primary Billing Address?</dt>
                        <dd>@addr.PrimaryBilling == true ? "Yes" : "No"</dd>
                        <dt></dt>
                        <dd>@Html.ActionLink("Edit", "EditAddress", new { id = addr.Id })</dd>
                    </dl>
                }
            }
            else
            {
                @Html.ActionLink("Add an address", "AddAddress")
            }
        }
    </div>
    <div id="notification" class="account-section">

        <div class="section-header">
            <label>Notification</label>
            @Html.ActionLink("Edit", "EditProfile", "Manage", new { id = Model.UserInfo.Id }, new { @class = "edit-action" })
        </div>
        <dl class="dl-horizontal" title="Notification">
            <dt>Notification Email:</dt>
            <dd>@Model.UserInfo.Profile.NotificationEmail</dd>
            <dt>Notification Mobile Number:</dt>
            <dd>@Model.UserInfo.Profile.NotificationCellPhone</dd>
            <dt>Notification Push Mobile:</dt>
            <dd>@Model.UserInfo.Profile.NotifcationPushMobile</dd>
            <dt>Notification Push Browser:</dt>
            <dd>@Model.UserInfo.Profile.NotifcationPushBrowser</dd>
        </dl>
    </div>
    <div class="account-section">
        <div class="section-header">
            <label>Security</label>
        </div>
        <dl class="dl-horizontal" title="Account Security">
            <dt>User Name:</dt>
            <dd>@Model.UserInfo.Email</dd>
            <dt>Password:</dt>
            <dd>
                [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>
</div>

<div>
    
</div>
