
@model StationCAD.Model.Incident

<h3>Incident: @Model.IncidentIdentifier - @Model.IncidentTypeCode - @Model.IncidentSubTypeCode</h3>

<div class="col-md-4">
    <h4>Dispatch Information</h4>
    <dl>
        <dt>Dispateched:</dt>
        <dd>@Model.DispatchedDateTime</dd>
        <dt>Console:</dt>
        <dd>@Model.ConsoleID</dd>
        <dt>Type:</dt>
        <dd>@Model.IncidentTypeCode (@Model.IncidentTypeCode)</dd>
        <dt>Final Type:</dt>
        <dd>@Model.FinalIncidentTypeCode (@Model.FinalIncidentTypeCode)</dd>
        <dt>XReference ID:</dt>
        <dd>@Model.LocalXRefID</dd>
    </dl>

    <h4>Location Information</h4>
    <dl>
        <dt>Type:</dt>
        <dd>@Model.PrimaryAddress.IncidentLocationType</dd>
        <dt>Occupant:</dt>
        <dd>@Model.PrimaryAddress.OccupantName</dd>
        <dt>Location:</dt>
        <dd>@Model.PrimaryAddress.NotificationAddress</dd>
        <dt>Geolocation:</dt>
        <dd>
            @{
            if (Model.PrimaryAddress.PlaceID != null)
            { <a id="viewMap" href="#">View Map</a> }
            else
            { <span>Not Available</span> }
            }
        </dd>
    </dl>
</div>

<div class="col-md-8 >
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: @Model.PrimaryAddress.XCoordinate, lng: @Model.PrimaryAddress.YCoordinate},
          zoom: 8
        });
      }
    </script>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvpv54be3Rkd46mDlCAqg6-qG53gvnDcg&callback=initMap">
</script>